In [2]:
# import relevant libs
import plotly.express as px
import pandas as pd

In [3]:
# import metric files from the optuna trial of concern
df_metrics = pd.read_parquet('/Users/thomas/Repositories/MasterThesis30313/output_remote_20241009/metrics/20241007_trial_3_DDQAugmentedNoisyTransformerNN_metrics.pq')
df_q_metrics = pd.read_parquet('/Users/thomas/Repositories/MasterThesis30313/output_remote_20241009/metrics/20241007_trial_3_DDQAugmentedNoisyTransformerNN_q_metrics.pq')
df_action_metrics = pd.read_parquet('/Users/thomas/Repositories/MasterThesis30313/output_remote_20241009/metrics/20241007_trial_3_DDQAugmentedNoisyTransformerNN_action_logs.pq')

In [7]:
# pivot standard metrics prior to compare episodes
df_metrics_pivot = pd.melt(df_metrics, id_vars=['episode'], var_name='value_type', value_name='value').sort_values(['episode', 'value_type']).reset_index(drop=True)

In [14]:
df_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   episode                 1200 non-null   int64
 1   avg_episode_score       1200 non-null   float64
 2   avg_episode_loss        1200 non-null   float64
 3   mvg_avg_score           1200 non-null   float64
 4   mvg_avg_loss            1200 non-null   float64
 5   episode_score           1200 non-null   float64
 6   episode_loss            1200 non-null   float64
 7   total_no_steps          1200 non-null   int64
 8   model_saved             1200 non-null   bool
 9   minimum_tau_in_episode  1200 non-null   float64
 10  minimum_lr_in_episode   1200 non-null   float64
dtypes: bool(1), float64(8), int64(2)
memory usage: 95.0 KB

In [15]:
df_q_metrics

,avg_q_value,max_q_value,min_q_value,q_value_variance,td_error,positive_q_ratio,q_value_for_action,episode
0,-0.438196,0.374603,-1.303706,0.116996,0.594772,0.098958,-0.097626,21
1,0.956888,1.969018,0.266176,0.408045,1.208392,1.000000,1.726021,21
2,0.947579,1.647365,0.150398,0.195606,0.873180,1.000000,1.432747,21
3,0.909079,1.412724,0.142048,0.144357,0.626581,1.000000,1.073366,21
4,0.844022,1.095611,0.444443,0.033959,0.412280,1.000000,0.896305,21
...,...,...,...,...,...,...,...,...
30117,0.125721,0.165016,0.070891,0.000403,0.004516,1.000000,0.133654,1200
30118,0.116401,0.159390,0.055403,0.000400,0.003087,1.000000,0.123993,1200
30119,0.118459,0.161011,0.060530,0.000385,0.006928,1.000000,0.125743,1200
30120,0.114857,0.158327,0.064429,0.000394,0.003713,1.000000,0.122982,1200
30121,0.122406,0.159026,0.068918,0.000291,0.004857,1.000000,0.130043,1200

In [12]:
df_action_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500887 entries, 0 to 3500886
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   episode       int64
 1   action        int64
 2   action_type   object
 3   q_values_sum  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 106.8+ MB